<!DOCTYPE html>
<html>
  <head>
    <title>FixMyCar</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bower_components/lodash.js"></script>
    <script src="/js/bower_components/dist/jquery.js"></script>
    <script src="/js/bower_components/backbone.js"></script>
    <script src="/js/utils/extensible-type.js"></script>
    <script src="/js/services/router.js"></script>
    <script src="/js/services/service-container.js"></script>
    <script src="/js/services/view-service.js"></script>
    <script src="/js/models/_model.js"></script>
    <script src="/js/models/dtc.js"></script>
    <script src="/js/collections/_collection.js"></script>
    <script src="/js/collections/dtc-collection.js"></script>
    <script src="/js/views/_view.js"></script>
    <script src="/js/views/dtc-entry.js"></script>
    <script src="/js/views/dtcs-page.js"></script>
    <script src="/js/views/home-page.js"></script>
    <script src="/js/app.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
